@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Reset********************************************************************* 
body {
  height: 100%;
  background-color: var(--base-bg-color);
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: var(--root-font-size);
}

*, *:before, *:after {
  box-sizing: inherit;
  overscroll-behavior: none;
}

body, h1, h2, h3, h4, h5, h6, p, label, span {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Roboto Flex', sans-serif;
  color: var(--fg-color);
}

img {
  max-width: 100%;
  height: auto;
}
// End Reset************************************************************** 

// Overrides For DevExtreme CSS***********************************************
.dx-datagrid {  
  background-color:transparent;  
}

.dx-popup-content {
  padding: 0;
}

// .data-table .dx-toolbar .dx-toolbar-before {  
//   padding: 0px;
//   width: 100%; 
// }

// .data-table .dx-toolbar .dx-toolbar-center {  
//   padding: 0px;  
//   width: 0 !important;  
// }

// .data-table .dx-toolbar .dx-toolbar-after {  
//   padding: 0px;  
//   width: 100%;
// }

// .data-table .dx-datagrid-search-panel {  
//   margin: 0px;
//   width: 100% !important;
// }

// .dx-data-row.dx-state-hover > td {  
//   background-color: var(--highlight-color)  !important;
//   & * {
//     color: black !important;
//   }
// }

.dx-selection td {
  // background-color: var(--selected-color) !important;
  & p, span {
    color: black !important;
  }
}

// .subsection .dx-selection td {
//   background-color: transparent !important;
// }

// .dx-command-select {  
//   width: 60px !important;  
//   min-width: 60px !important;  
// }  

.dx-texteditor-input, .dx-texteditor.dx-editor-outlined {
  background: transparent !important;
  color: var(--fg-color);
}

.dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
  overflow: visible;
}

// End Overrides For DevExtreme CSS***********************************************

// Shared CSS for form fields*****************************************************
.field-wrapper {
  & .field {
    background-color: var(--base-bg-color);
    // border: var(--border);
    transition: all .3s ease-in-out;
    // border-radius: 5px;
    &.relative {
      position: relative;
      & .icon {
        position: absolute;
        right: var(--space-sm);
        top: 50%;
        pointer-events: none;
        transform: translateY(-50%);
      }
    }
    &.color-box {
      display: block;
      padding: var(--space-md);
      border: var(--border);
      border-radius: 5px;
      & input {
        visibility: hidden;
        height: 0;
      }
      &:focus {
        outline: 0;
        border-color: var(--highlight);
      }
    }
  }
  & .label {
    color: var(--fg-color);
    font-weight: bold;
    &.white {
      color: white;
    }
  }
  &.disabled {
    & .label {
      color: var(--disabled-color);
    }
  }
  &.required {
    & .label {
      font-weight: bold;
    }
  }
  &.invalid {
    & .label {
      color: var(--msg-danger);
    }
    & .errors-wrapper {
      padding: var(--space-sm);
      background-color: var(--msg-danger);
      & .error-text {
        color: white;
      }
    }
    & .field {
      border-color: var(--msg-danger);
    }
  }
}
// End Shared CSS for form fields*****************************************************

// Shared CSS for splash (login, forget password, etc.)*******************************
.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--panel-bg-color);
  & .content {
    width: 500px;
    transition: all .5s ease-in-out;
    & .logo {
      width: 250px;
      margin: 0 auto;
    }
    & .title {
      color: var(--fg-color);
      text-align: center;
    }
    & .select-db {
      background-color: var(--panel-bg-color);
      border-radius: 5px;
      padding: var(--space-md);
      & .db-list-item {
        padding: var(--space-md);
        &:hover {
          background-color: var(--highlight-color);
        }
        &.selected {
          background-color: var(--selected-color);
        }
      }
    }
    & .signin-btn {
      padding: var(--space-md) var(--space-lg);
      transition: all .3s ease-in-out;
      background-color: transparent;
      border: var(--border);
      color: var(--fg-color);
      outline: 0;
      margin: 0 auto;
      &:hover {
        background-color: var(--highlight-color);
        color: white;
      }
      &:disabled {
        background-color: #eee;
        color: var(--disabled-color);
        border-color: var(--disabled-color);
      }
    }
  }
}
// End Shared CSS for splash (login, forget password, etc.)*******************************


// Misc CSS***************************************************************************
.no-data {
  width: 100%;
  height: 100px;
  font-size: 17px;
  color: var(--gray-9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
}

.col-max-width-80 {
  max-width: 80px;
}

.map-set {
  cursor: crosshair;
}

.map-normal {
  cursor: normal;
}

.no-padding {
  padding: 0 !important;
}

.rule {
  color: var(--app-color);
  &.invalid {
    color: var(--gray-4);
  }
}

// .dropdown-btn-item {
//   background-color: var(--gray-0);
//   outline: 0;
//   padding: var(--space-md);
//   white-space: nowrap;
//   border: var(--border);
//   width: 200px;
//   z-index: 9999999;
//   cursor: pointer;
//   position: relative; 
// }

// .dropdown-btn-item:hover {
//   background-color: var(--app-color-2);
// }

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.mobile-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  outline: 0;
  transition: all .2s ease-in-out;
  padding: var(--space-md) var(--space-lg);
}

.mobile-btn:hover {
  background: white;
  color: transparent;
}

.open-sans {
  font-family: 'Open Sans';
}

.more {
  opacity: 0;
  &.hovered {
    opacity: 1;
  }
}
// End Misc CSS***************************************************************************

// Sortable JS fallback********************************************************************

.sortable-fallback {
  opacity: .7;
  & .collapsed {
    height: 0;
    overflow: hidden;
  }
  & .sortable-content {
    height: 0;
    overflow: hidden;
  }
}

.sortable-ghost {
  opacity: 0;
}

// end Sortable JS fallback********************************************************************

.layout-panel, .layout-panel-item {
  border: var(--border);
  padding: var(--space-lg);
}

.layout-panel {
  height: 100%;
}